{
  "X4_PATHS": {
    "TOOL_PATH": "D:\\SteamLibrary\\steamapps\\common\\X Tools\\XRCatTool.exe",
    "GAME_DIR": "D:\\SteamLibrary\\steamapps\\common\\X4 Foundations",
    "SOURCE": "D:\\Documents\\project\\x4tools\\x4data",
    "DEST": "D:\\Documents\\project\\x4-station-calculator\\x4raw_assets",
    "CUSTOMIZER_PATH": "D:\\Documents\\project\\X4_Customizer",
    "PROJECT_ASSETS": "D:\\Documents\\project\\x4-station-calculator\\src\\assets\\x4_game_data"
  }
}